
/.idea/
/gradle/wrapper/
/app/release/
**/.DS_Store

Pods/
.DS_Store
xcuserdata/
xcschemes/
build/
*.lock
.Trashes
.xcuserstate
Podfile.lock

/.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/build
/captures
.externalNativeBuild
.cxx