<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need Photo library permission for upload profile Picture</string>
	<key>NSCameraUsageDescription</key>
	<string>Need Camera permission for upload profile Picture</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
	</array>
</dict>
</plist>
